
.moviemasher .masher .panel.inspector {
  grid-area: inspector;
  flex-grow: 1;
}

.moviemasher .masher .panel.inspector .content fieldset {
  width: 100%;
  max-width: 100%;
  line-height: var(--icon-size);
  font-size: var(--icon-size);
  padding: var(--spacing);
  background-color: initial;
}


.moviemasher .masher .panel.inspector .content .start-end {
  display: flex;
  float: right;
}
.moviemasher .masher .panel.inspector .content fieldset > legend {
  width: 100%;
}
.moviemasher .masher .panel.inspector .content fieldset > legend > div {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  width: 100%;
}

.moviemasher .masher .panel.inspector .content fieldset > div {
  display: flex;
  gap: var(--spacing);
  grid-auto-flow: column;
}

.moviemasher .masher .panel.inspector .content fieldset > div > input {
  min-width: 50px;
  width: 100%;
}

.moviemasher .masher .panel.inspector .content {
  overflow-y: auto;
  padding: var(--padding);
}

.moviemasher .masher .panel.inspector .content>* {
  margin-bottom: var(--spacing);
}
.moviemasher .masher .panel.inspector .content > .row {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: var(--icon-size) 1fr;
}


.moviemasher .masher .panel.inspector .content > .row > *:first-child {
  line-height: var(--icon-size);
  font-size: var(--icon-size);
}

.moviemasher .masher .panel.inspector .content > .row .icons {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: var(--spacing);
}

.moviemasher .masher .panel.inspector .content > .row input {
  min-width: 20px;
}

.moviemasher .masher .panel.inspector .content > .row.tween {
  grid-template-columns: var(--icon-size) minmax(50px, 1fr) min-content;
}

.moviemasher .masher .panel.inspector .content > div > label,
.moviemasher .masher .panel.inspector .content > div > button {
  margin-right: var(--spacing);
}

.moviemasher .masher .panel.inspector .row .list {
  width: 100%;
  height: calc((4 * var(--icon-size)) + (5 * var(--spacing)));
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--fore-primary);
  border-color: var(--fore-primary);
  background-color: var(--back-primary);
  overflow-y: scroll;
}

.moviemasher .masher .panel.inspector .row .list .movable {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 100%;
  gap: var(--spacing);
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: var(--padding);
  padding: var(--spacing);
  color: var(--fore-secondary);
  border-color: var(--fore-secondary);
  background-color: var(--back-secondary);
}

.moviemasher .masher .panel.inspector .row .list .movable:hover,
.moviemasher .masher .panel.inspector .row .list .selected {
  color: var(--color-fore-secondary);
  border-color: var(--color-fore-secondary);
  background-color: var(--color-back-secondary);
}

.moviemasher .masher .panel.inspector .row .list .selected:hover {
  color: var(--color-fore-tertiary);
  border-color: var(--color-fore-tertiary);
  background-color: var(--color-back-tertiary);
}


.moviemasher .masher .panel.inspector .drop-container {
  display: grid;
  aspect-ratio: var(--preview-aspect-ratio);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  color: var(--fore-primary);
  border-color: var(--fore-primary);
  background-color: var(--back-primary);
  height: calc((2 * var(--spacing)) + var(--preview-height) * var(--icon-ratio));
}


.moviemasher .masher .panel.inspector .dropping {
  box-shadow: var(--dropping-shadow);
} 


.moviemasher .masher .panel.inspector .row .list {
  --padding: 5px;
  --spacing: 2px;  
}

.moviemasher .masher .panel.inspector .content > .row .icons {
  --spacing: 2px;
}