:root {
  --moviemasher-border-size: 1px;
  --moviemasher-border-radius: calc(5 * var(--moviemasher-border-size));
  --moviemasher-spacing: 20px;
  --moviemasher-padding: 40px;
  --moviemasher-spacing-controls: 4px;
  --moviemasher-padding-controls: 2px;
  --moviemasher-padding-button-factor: 4;
  --moviemasher-spacing-content: 10px;
  --moviemasher-padding-content: 20px;
  --moviemasher-width-preview: 480px;
  --moviemasher-height-preview: 270px;
  --moviemasher-height-scrub: 16px;
  --moviemasher-width-inspector: 240px;
  --moviemasher-icon-size: 32px;
  --moviemasher-button-size: 32px;
  --moviemasher-border: var(--moviemasher-border-size) solid var(--moviemasher-color-pop);
}
