.moviemasher .editor.caster {
  grid-template-areas:
    "player browser panels"
    "composer timeline panels";
  grid-template-columns:
    calc(var(--preview-width) + (var(--border-size) * 2))
    1fr
    var(--inspector-width);
  grid-template-rows:
    calc( var(--preview-height) + var(--header-height) + var(--footer-height))
    1fr;
}
