<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>G</key>
		<integer>-5</integer>
		<key>N</key>
		<integer>-32</integer>
		<key>T</key>
		<integer>-32</integer>
		<key>V</key>
		<integer>-28</integer>
		<key>g</key>
		<integer>-23</integer>
		<key>n</key>
		<integer>-32</integer>
		<key>t</key>
		<integer>-32</integer>
		<key>v</key>
		<integer>-28</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-32</integer>
		<key>E</key>
		<integer>-18</integer>
		<key>P</key>
		<integer>-28</integer>
		<key>a</key>
		<integer>-32</integer>
		<key>e</key>
		<integer>-18</integer>
		<key>p</key>
		<integer>-23</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-41</integer>
		<key>W</key>
		<integer>-51</integer>
		<key>a</key>
		<integer>-41</integer>
		<key>w</key>
		<integer>-51</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>-42</integer>
		<key>a</key>
		<integer>-42</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>N</key>
		<integer>-14</integer>
		<key>S</key>
		<integer>-23</integer>
		<key>T</key>
		<integer>-14</integer>
		<key>n</key>
		<integer>-9</integer>
		<key>s</key>
		<integer>-23</integer>
		<key>t</key>
		<integer>-14</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>D</key>
		<integer>-32</integer>
		<key>S</key>
		<integer>-41</integer>
		<key>d</key>
		<integer>-32</integer>
		<key>s</key>
		<integer>-41</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>Y</key>
		<integer>-19</integer>
		<key>y</key>
		<integer>-19</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>B</key>
		<integer>-14</integer>
		<key>b</key>
		<integer>-14</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>E</key>
		<integer>-19</integer>
		<key>e</key>
		<integer>-19</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>A</key>
		<integer>-28</integer>
		<key>a</key>
		<integer>-28</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-28</integer>
		<key>I</key>
		<integer>-23</integer>
		<key>T</key>
		<integer>-28</integer>
		<key>a</key>
		<integer>-32</integer>
		<key>i</key>
		<integer>-23</integer>
		<key>t</key>
		<integer>-28</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>E</key>
		<integer>-23</integer>
		<key>I</key>
		<integer>-18</integer>
		<key>L</key>
		<integer>-23</integer>
		<key>a</key>
		<integer>-32</integer>
		<key>e</key>
		<integer>-23</integer>
		<key>i</key>
		<integer>-14</integer>
		<key>l</key>
		<integer>-23</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-42</integer>
		<key>E</key>
		<integer>-23</integer>
		<key>I</key>
		<integer>-5</integer>
		<key>O</key>
		<integer>-37</integer>
		<key>a</key>
		<integer>-42</integer>
		<key>e</key>
		<integer>-23</integer>
		<key>i</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-37</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-42</integer>
		<key>a</key>
		<integer>-42</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>O</key>
		<integer>-32</integer>
		<key>o</key>
		<integer>-32</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>N</key>
		<integer>-32</integer>
		<key>T</key>
		<integer>-32</integer>
		<key>V</key>
		<integer>-28</integer>
		<key>c</key>
		<integer>-23</integer>
		<key>g</key>
		<integer>-28</integer>
		<key>n</key>
		<integer>-32</integer>
		<key>t</key>
		<integer>-32</integer>
		<key>v</key>
		<integer>-28</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>A</key>
		<integer>-32</integer>
		<key>E</key>
		<integer>-18</integer>
		<key>P</key>
		<integer>-23</integer>
		<key>a</key>
		<integer>-37</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>p</key>
		<integer>-18</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>A</key>
		<integer>-41</integer>
		<key>W</key>
		<integer>-32</integer>
		<key>a</key>
		<integer>-41</integer>
		<key>w</key>
		<integer>-51</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>A</key>
		<integer>-42</integer>
		<key>a</key>
		<integer>-42</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>N</key>
		<integer>-18</integer>
		<key>S</key>
		<integer>-23</integer>
		<key>T</key>
		<integer>-14</integer>
		<key>n</key>
		<integer>-14</integer>
		<key>s</key>
		<integer>-23</integer>
		<key>t</key>
		<integer>-14</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>D</key>
		<integer>-23</integer>
		<key>S</key>
		<integer>-41</integer>
		<key>d</key>
		<integer>-23</integer>
		<key>o</key>
		<integer>-41</integer>
		<key>s</key>
		<integer>-41</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>Y</key>
		<integer>-19</integer>
		<key>y</key>
		<integer>-19</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>B</key>
		<integer>-14</integer>
		<key>b</key>
		<integer>-14</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>E</key>
		<integer>-19</integer>
		<key>e</key>
		<integer>-19</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>A</key>
		<integer>-28</integer>
		<key>a</key>
		<integer>-28</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>A</key>
		<integer>-32</integer>
		<key>I</key>
		<integer>-23</integer>
		<key>T</key>
		<integer>-28</integer>
		<key>a</key>
		<integer>-28</integer>
		<key>i</key>
		<integer>-23</integer>
		<key>t</key>
		<integer>-28</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>A</key>
		<integer>-37</integer>
		<key>E</key>
		<integer>-23</integer>
		<key>I</key>
		<integer>-14</integer>
		<key>L</key>
		<integer>-23</integer>
		<key>a</key>
		<integer>-28</integer>
		<key>e</key>
		<integer>-23</integer>
		<key>i</key>
		<integer>-14</integer>
		<key>j</key>
		<integer>-46</integer>
		<key>l</key>
		<integer>-23</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>A</key>
		<integer>-46</integer>
		<key>E</key>
		<integer>-23</integer>
		<key>I</key>
		<integer>-5</integer>
		<key>O</key>
		<integer>-37</integer>
		<key>a</key>
		<integer>-46</integer>
		<key>e</key>
		<integer>-23</integer>
		<key>i</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-37</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>A</key>
		<integer>-42</integer>
		<key>a</key>
		<integer>-42</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>O</key>
		<integer>-32</integer>
		<key>a</key>
		<integer>-41</integer>
		<key>o</key>
		<integer>-32</integer>
	</dict>
</dict>
</plist>
