/* layout.css */

.moviemasher-app * { box-sizing: border-box; }

.moviemasher-app {
  width: 100%;
  display: grid;
  grid-template-areas:
    "player browser inspector"
    "timeline timeline inspector";
  grid-column-gap: var(--spacing);
  grid-row-gap: var(--spacing);
  grid-template-columns:
    calc(
      var(--moviemasher-width-preview)
      + (var(--moviemasher-border-size) * 2)
    )
    1fr
    var(--moviemasher-width-inspector);
  grid-template-rows:
    calc(
      var(--moviemasher-height-preview)
      + var(--header-height)
      + var(--footer-height)
    )
    1fr;
  padding: var(--padding);
  background-color: var(--moviemasher-back-primary);
  color: var(--moviemasher-fore-tertiary);
}

.moviemasher-panel {
  overflow: hidden;
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-columns: 1fr;
  border: var(--moviemasher-border);
  border-radius: var(--moviemasher-border-radius);
  background-color: var(--moviemasher-back-secondary);
}

.moviemasher-head {
  border-bottom: var(--moviemasher-border);
  padding: var(--padding);
  column-gap: var(--spacing);
}

.moviemasher-foot {
  border-top: var(--moviemasher-border);
  padding: var(--padding);
  column-gap: var(--spacing);
}

.moviemasher-foot,
.moviemasher-head {
  background-color: var(--moviemasher-back-tertiary);
  display: grid;
}

.moviemasher-head > *,
.moviemasher-foot > * {
  margin-block: auto;
}

.moviemasher-app button:hover {
  color: var(--moviemasher-color-pop);
  border-color: var(--moviemasher-color-pop);
}

.moviemasher-app button,
.moviemasher-app button:disabled {
  display: inline-flex;
  min-width: var(--moviemasher-icon-size);
  height: var(--moviemasher-icon-size);
  cursor: pointer;
  appearance: none;
  outline: none;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  border: var(--moviemasher-border);
  border-radius: var(--moviemasher-border-radius);
  border: 1px solid var(--moviemasher-color-mute);
  border-radius: 4px;
  color: var(--moviemasher-color-mute);
  background-color: var(--moviemasher-back-tertiary);
}

.moviemasher-app button:disabled {
  background-color: var(--moviemasher-back-secondary);
  color: var(--moviemasher-back-primary);
  border-color: var(--moviemasher-back-primary);
}


.moviemasher-app button > svg {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0px 5px;
}

.moviemasher-selected {
  color: var(--moviemasher-color-pop);
  border-color: var(--moviemasher-color-pop);
}

.moviemasher-selected:hover {
  color: var(--moviemasher-color-mute);
  border-color: var(--moviemasher-color-mute);
}


.moviemasher-drop {
  background-color: var(--moviemasher-color-pop);
}

.moviemasher-browser {
  grid-area: browser;
}

.moviemasher-browser .moviemasher-head {
  grid-template-columns: repeat(auto-fit, var(--moviemasher-icon-size));
  overflow: hidden;
}

.moviemasher-browser .moviemasher-content {
  padding: var(--padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(var(--moviemasher-width-preview) / 3));
  grid-auto-rows: calc(var(--moviemasher-height-preview) / 3);
  gap: var(--spacing);
  overflow-y: auto;
}


.moviemasher-inspector {
  grid-area: inspector;
}
.moviemasher-inspector label {
  text-transform: capitalize;

}
.moviemasher-inspector label::after {
  content: ': ';
}

.moviemasher-inspector .moviemasher-content {
  overflow-y: auto;
  padding: var(--padding);
}

.moviemasher-inspector .moviemasher-content > * {
  margin-bottom: var(--spacing);
}

.moviemasher-input {
  width: 100%;

}

.moviemasher-input input {
  width: 100%;
}

.moviemasher-timeline {
  isolation: isolate;
  grid-area: timeline;
}

.moviemasher-timeline .moviemasher-head {
  grid-template-columns: repeat(9, auto) 1fr;
}

.moviemasher-timeline .moviemasher-content {
  position: relative;
  overflow: auto;
  display: grid;
  grid-template-areas: "scrubber-icon scrubber" "tracks-icon tracks";
  grid-template-columns: var(--moviemasher-width-track) 1fr;
  grid-template-rows: var(--moviemasher-height-scrub) 1fr;
}

.moviemasher-scrub-pad,
.moviemasher-scrub {
  background-color: var(--moviemasher-back-secondary);
  border-bottom: var(--moviemasher-border);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.moviemasher-scrub-pad {
  grid-area: scrubber-icon;
  z-index: 2;
}
.moviemasher-scrub {
  grid-area: scrubber;
  z-index: 3;
}

.moviemasher-scrub-bar-container {
  pointer-events: none;
  position: relative;
  grid-area: tracks;
}

.moviemasher-scrub-bar {
  position: absolute;
  width: 1px;
  top: 0px;
  bottom: 0px;
  background-color:var(--moviemasher-color);
}
.moviemasher-scrub-icon {
  margin-left: calc(0px - (var(--moviemasher-height-scrub) / 2));
  position: absolute;
  background-color: var(--moviemasher-color);
  width: var(--moviemasher-height-scrub);
  height: var(--moviemasher-height-scrub);
  clip-path: polygon(3px 3px, calc(100% - 3px) 3px, 50% calc(100% - 3px));
}


.moviemasher-tracks {
  grid-area: tracks;
  grid-column-start: tracks-icon;
}

.moviemasher-timeline .moviemasher-foot {
  grid-template-columns: 50% repeat(auto-fill, var(--moviemasher-button-size));
}

.moviemasher-timeline-sizer {
  pointer-events: none;
  position: absolute;
  left: var(--moviemasher-width-track);
  right: 0px;
  top: var(--moviemasher-height-scrub);
  bottom: 0px;
}


.moviemasher-track {
  display: grid;
  grid-template-columns: var(--moviemasher-width-track) 1fr;
  border-bottom: var(--moviemasher-border);
  height: var(--moviemasher-height-track);
  overflow-y: hidden;
}

.moviemasher-track-icon {
  background-color: var(--moviemasher-back-tertiary);

  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.moviemasher-track-icon {
  display: grid;
}

.moviemasher-track-icon svg {
  margin: auto;
}

.moviemasher-clips {
  white-space: nowrap;
  margin-block: auto;
}

.moviemasher-clips,
.moviemasher-clip {
  height: calc(var(--moviemasher-height-track) - (2 * var(--padding)));
}

.moviemasher-definition,
.moviemasher-clip {
  display: inline-flex;
  background-color: var(--moviemasher-back-tertiary);
  border: var(--moviemasher-border);
  border-radius: var(--moviemasher-border-radius);
}

.moviemasher-clip {
  overflow-x: hidden;
  padding: 0px;
}

.moviemasher-clip label:after,
.moviemasher-definition label:after {
  content: var(--clip-label);
}

.moviemasher-app .MuiSvgIcon-root {
  font-size: var(--moviemasher-icon-size);
}

.moviemasher-scrub .MuiSvgIcon-root {
  font-size: var(--moviemasher-height-scrub);
}
.moviemasher-app .MuiSlider-root {
  color: var(--moviemasher-color-mute);
  padding: 11px;
}


.moviemasher-player {
  grid-area: player;
}

.moviemasher-player .moviemasher-foot {
  grid-template-columns: var(--moviemasher-icon-size) 1fr 1fr;
}

.moviemasher-player .moviemasher-content {
  background: repeating-conic-gradient(
    var(--moviemasher-back-primary) 0% 25%, transparent 0% 50%
  ) 50% / 20px 20px;
  background-position: top left;
  width: var(--moviemasher-width-preview);
  height: var(--moviemasher-height-preview);
}
