.moviemasher .masher .panel.activity {
  grid-area: activity;
  min-height: calc(var(--footer-height) + var(--header-height));
}

.moviemasher .masher .panel.activity.collapsed {
  min-height: var(--header-height);
}
.moviemasher .masher .panel.activity .head {
  grid-template-columns: var(--icon-size) 1fr var(--icon-size);
}

.moviemasher .masher .panel.activity .content .item .label:first-child,
.moviemasher .masher .panel.activity .head label  {
  overflow-x: hidden;
  white-space: nowrap;
}


.moviemasher .masher .panel.activity .head label {
  font-size: 0.5em;
}

.moviemasher .masher .panel.activity .content {
  overflow-y: auto;
  padding: var(--padding);
}


.moviemasher .masher .panel.activity .content .item {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-auto-flow: column;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
}

.moviemasher .masher .panel.activity .content .item div {
  margin-bottom: var(--spacing);
}

.moviemasher .masher .panel.activity .head > .progress {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  grid-gap: var(--spacing);
}
  

.moviemasher progress,
.moviemasher .progress-holder { width: var(--progress-width); }

.moviemasher .process-status {
  white-space: nowrap;
  overflow-x: hidden;
  text-align: right;
  font-size: initial;
}
