
.moviemasher .masher {
  grid-template-areas:
    "player browser panels"
    "timeline timeline panels";
  grid-template-columns:
    calc(
      var(--preview-width)
      + (var(--border-size) * 2)
    )
    1fr
    var(--inspector-width);
  grid-template-rows:
    calc(
      var(--preview-height)
      + var(--header-height)
      + var(--footer-height)
    )
    1fr;
}

@media (max-width: 999px) {
  .moviemasher .masher {
    display: block;
    grid-template-areas: "player" "timeline" "inspector" "browser";
  }
}

.moviemasher .masher .panels {
  grid-area: panels;
	display: flex;
  flex-direction: column;
	gap: var(--spacing);
}


.moviemasher .masher .panel {
  flex-grow: 1;
  overflow: hidden;
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-columns: 1fr;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--back-primary);
}

.moviemasher .masher .panel .content .drop-box {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.moviemasher .masher .panel .content.dropping .drop-box {
  box-shadow: var(--dropping-shadow);
}

.moviemasher .masher .panel.collapsed {
  grid-template-rows: var(--header-height);
  flex-grow: 0;
}

.moviemasher .masher .panel .head {
  border-bottom: var(--border);
}

.moviemasher .masher .panel .foot {
  border-top: var(--border);
}

.moviemasher .masher .panel .foot,
.moviemasher .masher .panel .head {
  display: flex;
  gap: var(--spacing);
  padding: var(--padding);

  background-color: var(--back-secondary);
  color: var(--fore-secondary);
  line-height: var(--icon-size);
  font-size: var(--icon-size);
}
.moviemasher .masher .panel .head>*:first-child {
  flex-grow: 1;
}
.moviemasher .masher .panel .head>*,
.moviemasher .masher .panel .foot>* {
  margin-block: auto;
}


.moviemasher .masher * {
  box-sizing: border-box;
}

.moviemasher .masher {
  width: 100%;
  display: grid;
  grid-column-gap: var(--spacing);
  grid-row-gap: var(--spacing);
  padding: var(--padding);
  background-color: var(--back-primary);
  color: var(--fore-tertiary);
}


.moviemasher .masher .panel .preview {
  position: relative;
  overflow: hidden;
  border: var(--border);
  border-radius: var(--border-radius);
  border-color: var(--fore-secondary);
  color: var(--fore-secondary);
  background-color: var(--back-secondary);
}
.moviemasher .masher .panel .preview > * {
  pointer-events: none;
}


.moviemasher .masher .panel .preview label {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: var(--back-primary);
  opacity: 0.5;
  height: calc(var(--icon-size));
  padding: var(--padding);
}

.moviemasher .masher label {
  height: var(--icon-size);
}


.moviemasher .masher .panel select {
  height: var(--button-size);
}
