/* sizes.css */

.moviemasher .editor {
  --padding: 40px;
  --spacing: 20px;
  --header-height: 38px;
  --footer-height: 38px;
  --preview-aspect-ratio: 16 / 9;
  --icon-ratio: 0.25;
  --preview-width: 480px;
  --preview-height: 270px;
  --scrubber-height: 16px;
  --scrubber-width: 16px;
  --inspector-width: 240px;
  --track-width: 34px;
  --track-height: 60px;
  --icon-size: 24px;
  --button-size: 24px;
  --border-size: 1px;
  --border: var(--border-size) solid var(--back-tertiary);
  --border-radius: 5px;
  --drop-size: 2px;
  --progress-width: calc(2 * var(--icon-size));
  --dropping-shadow: 
    var(--drop-size) var(--drop-size) 0 0 var(--color-drop) inset,
    calc(-1 * var(--drop-size)) calc(-1 * var(--drop-size)) 0 0 var(--color-drop) inset;
  ;
}

.moviemasher .editor .panel .content {
  --padding: 20px;
  --spacing: 10px;
}

.moviemasher .editor .panel .foot,
.moviemasher .editor .panel .head {
  --padding: 5px;
  --spacing: 5px;
}

.moviemasher .editor .panel.composer .content {
  --padding: 10px;
  --spacing: var(--drop-size);
}

.moviemasher .editor .panel.composer .content .layer {
  --padding: 2px;
  --spacing: 5px;
}

.moviemasher .editor .panel.timeline .content {
  --padding: 0px;
  --spacing: 5px;
}



.moviemasher .editor .panel.activity .content {
  --padding: 10px;
  --spacing: 5px;
}

.moviemasher .editor .panel .preview label {
  --padding: 5px;
}

.moviemasher .editor .panel button {
  --padding: 5px;
  --spacing: 5px;
}


.moviemasher .editor .panel.inspector .row .list {
  --padding: 5px;
  --spacing: 2px;  
}

.moviemasher .editor .panel.inspector .content > .row .icons {
  --spacing: 2px;
}