.moviemasher .editor .panel.timeline {
  isolation: isolate;
  grid-area: timeline;
}


.moviemasher .editor .panel.timeline .head {
  grid-template-columns: 1fr repeat(6, auto) 1fr min-content;
}

.moviemasher .editor .panel.timeline .content {
  overflow: auto;
  overscroll-behavior: none;
  display: grid;
  grid-template-columns: var(--track-width) 1fr;
  grid-template-rows: var(--scrubber-height) repeat(auto-fill, var(--track-height));
  row-gap: var(--spacing);
  position: relative;
}

.moviemasher .editor .panel.timeline .content .scrubber-bar,
.moviemasher .editor .panel.timeline .content .scrubber-icon {
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  left: var(--track-width);
}

.moviemasher .editor .panel.timeline .content .scrubber-bar {
  pointer-events: none;
  top: var(--scrubber-height);
}

.moviemasher .editor .panel.timeline .content .scrubber-icon {
  box-shadow: calc(-1 * var(--track-width)) 0 0 0 var(--back-secondary);
  --spacing: 4px;
  top: 0px;
  background-color: var(--back-secondary);
}
.moviemasher .editor .panel.timeline .content .scrubber-element-bar,
.moviemasher .editor .panel.timeline .content .scrubber-element-icon {
  position: absolute;
  cursor:pointer;
  background-color: var(--color-fore-secondary);
  transition: var(--button-transition);
}


.moviemasher .editor .panel.timeline .content .scrubber-element-bar {
  width: 1px;
  top: 0px;
  bottom: 0px;
}

.moviemasher .editor .panel.timeline .content .scrubber-element-icon {
  --half-width: calc(var(--scrubber-width) / 2);
  margin-left: calc(0px - (var(--scrubber-width) / 2));
  width: var(--scrubber-width);
  height: var(--scrubber-height);
  clip-path: polygon(
    0 var(--spacing),
    var(--scrubber-width) var(--spacing),
    calc(50% + 1px) var(--scrubber-height),
    50% var(--scrubber-height)
  );
}

.moviemasher .editor .panel.timeline .content .disabled .scrubber-element-bar,
.moviemasher .editor .panel.timeline .content .disabled .scrubber-element-icon {
  pointer-events: none;
  cursor: default;
  background-color: var(--fore-secondary-demote);
}

.moviemasher .editor .panel.timeline .content .drop-box {
  top: var(--scrubber-height);
  left: var(--track-width);
}

.moviemasher .editor .panel.timeline .content .track {
  padding: var(--padding);
  --drop-size: var(--border-size);
  display: flex;
  border: var(--border);
  overflow: hidden;
  background-color: var(--back-primary);
  white-space: nowrap;
}

.moviemasher .editor .panel.timeline .content .track.selected {
  background-color: var(--color-back-primary);
}

.moviemasher .editor .panel.timeline .content .track .clip {
  border: var(--border);
  display: inline-block;
}

.moviemasher .editor .panel.timeline .content .track .clip:hover,
.moviemasher .editor .panel.timeline .content .track .selected {
  color: var(--color-fore-secondary);
  border-color: var(--color-fore-secondary);
  background-color: var(--color-back-secondary);
}

.moviemasher .editor .panel.timeline .content .track .selected:hover {
  color: var(--color-fore-tertiary);
  border-color: var(--color-fore-tertiary);
  background-color: var(--color-back-tertiary);
}


.moviemasher .editor .panel.timeline .content .track.dropping {
  border-block-color: var(--color-drop);
}

.moviemasher .editor .panel.timeline .content .track-icon {
  border-block: var(--border);
  background-color: var(--back-secondary);
  color: var(--fore-secondary);
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  height: var(--track-height);
}

.moviemasher .editor .panel.timeline .content .track-icon.selected {
  background-color: var(--color-back-secondary);
  color: var(--color-fore-secondary);
}

.moviemasher .editor .panel.timeline .content .track-icon svg {
  margin: auto;
}
.moviemasher .editor .panel.timeline .content .track-icon.dropping {
  border-color: var(--color-drop);

}
.moviemasher .editor .panel.timeline .content .track .clip.dropping {
  border-color: var(--color-drop);
  box-shadow:
    0 var(--drop-size) 0 0 var(--color-drop),
    0 calc(-1 * var(--drop-size)) 0 0 var(--color-drop)
  ;
}

.moviemasher .editor .panel.timeline .content .track .clip.dropping-before {
  box-shadow: calc(-1 * var(--drop-size)) 0 0 0 var(--color-drop);
}
.moviemasher .editor .panel.timeline .content .track .clip.dropping-after {
  box-shadow: var(--drop-size) 0 0 0 var(--color-drop);
}
