.moviemasher .editor.caster {
  grid-template-areas:
    "composer inspector panels"
    "player inspector panels";
  grid-template-columns:
    calc(var(--preview-width) + (var(--border-size) * 2))
    var(--inspector-width)
    1fr;
  grid-template-rows:
    1fr
    calc( var(--preview-height) + var(--header-height) + var(--footer-height));
}

/* */
.moviemasher .editor.caster .panel.timeline {
  grid-area: initial;
}


canvas.composite:hover {
  border: var(--border);
}
