
.moviemasher .editor {
  user-select: none;
  -webkit-user-select: none;
}
.moviemasher .editor label {
  height: var(--icon-size);
}

.moviemasher .editor .panel button {
  display: inline-flex;
  min-width: var(--icon-size);
  height: var(--icon-size);
  cursor: pointer;
  appearance: none;
  outline: none;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--fore-secondary-promote);
  border-color: var(--fore-secondary-promote);
  background-color: var(--back-secondary);
}

.moviemasher .editor .icon-button:hover,
.moviemasher .editor .icon-button.selected {
  color: var(--fore-secondary-promote);
  transition: var(--button-transition);
}

.moviemasher .editor .panel button {
  transition: var(--button-transition);
}

.moviemasher .editor .panel button:hover {
  color: var(--fore-secondary);
  border-color: var(--fore-secondary);
}

.moviemasher .editor .panel button:disabled {
  color: var(--fore-secondary-demote);
  border-color: var(--fore-secondary-demote);
}

.moviemasher .editor .panel button > svg {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0px 5px;
}

.moviemasher .editor input {
  width: 100%;
}

.moviemasher .editor input[type=file] {
  visibility: hidden;
  vertical-align: bottom;
  width: 0px;
}
