
.moviemasher .editor {
  user-select: none;
  -webkit-user-select: none;
}
.moviemasher .editor label {
  height: var(--icon-size);
}


.moviemasher .editor .panel select {
  height: var(--button-size);
}

.moviemasher .editor .panel button {
  display: inline-flex;
  gap: var(--spacing);
  padding: var(--padding);
  align-items: center;
  min-width: var(--button-size);
  font-size: calc(var(--button-size) - 2 * var(--spacing));
  line-height: calc(var(--button-size) - 2 * var(--spacing));
  height: var(--button-size);
  cursor: pointer;
  appearance: none;
  outline: none;
  font-weight: 500;
  border: var(--border);
  border-radius: var(--border-radius);

  color: var(--fore-secondary-promote);
  border-color: var(--fore-secondary-promote);

  background-color: var(--back-secondary);
  transition: var(--button-transition);
}

.moviemasher .editor .button {
  cursor: pointer;
  height: var(--button-size);
  font-size: var(--button-size);
  line-height: var(--button-size);
  transition: var(--button-transition);
}


.moviemasher .editor .panel button:hover {
  color: var(--fore-secondary);
  border-color: var(--fore-secondary);
}

.moviemasher .editor .button:hover,
.moviemasher .editor .button.selected {
  color: var(--fore-secondary-promote);
}

.moviemasher .editor .button.disabled:hover,
.moviemasher .editor .button.disabled,
.moviemasher .editor .panel button:disabled {
  cursor: default;
  color: var(--fore-secondary-demote);
  border-color: var(--fore-secondary-demote);
}


.moviemasher .editor input[type=file] {
  visibility: hidden;
  vertical-align: bottom;
  width: 0px;
}

