.moviemasher .editor .panel.player {
  grid-area: player;
}

.moviemasher .editor .panel.player .head {
  grid-auto-flow: column;
  grid-template-columns: 1fr repeat(2, min-content);
}

/* .moviemasher .editor.masher .panel.player .foot {
  grid-template-columns: var(--icon-size) 1fr 1fr;
}

.moviemasher .editor.caster .panel.player .foot {
  grid-template-columns: repeat(5, min-content);
} */

.moviemasher .editor .panel.player .foot .time {
  font-size: 0.75em;
  text-align: right;
  flex-grow: 1;
}

.moviemasher .editor .panel.player .content {
  background: repeating-conic-gradient(
    var(--back-secondary) 0% 25%, transparent 0% 50%
  ) 50% / 20px 20px;
  background-position: top left;
  width: var(--preview-width);
  height: var(--preview-height);
  margin-inline: auto;
  color: var(--color-fore-tertiary);
}

.moviemasher .editor .panel.player .content svg {
  pointer-events: visibleFill;
}

.moviemasher .editor .panel.player .content svg .container {
  cursor: move;
  pointer-events: visibleFill;
}
.moviemasher .editor .panel.player .content svg .contained {
  pointer-events: none;
}

.moviemasher .editor .panel.player .content svg .bounds {
  stroke-width: calc(2 * var(--border-size));
  pointer-events: visibleStroke;
  /* marker-start: url(#bounds-marker); */
}

.moviemasher .editor .panel.player .content svg .handle.ne {
  cursor: ne-resize;
}
.moviemasher .editor .panel.player .content svg .handle.se {
  cursor: se-resize;
}
.moviemasher .editor .panel.player .content svg .handle.nw {
  cursor: nw-resize;
}
.moviemasher .editor .panel.player .content svg .handle.sw {
  cursor: sw-resize;
}
.moviemasher .editor .panel.player .content svg .handle.n {
  cursor: n-resize;
}
.moviemasher .editor .panel.player .content svg .handle.s {
  cursor: s-resize;
}
.moviemasher .editor .panel.player .content svg .handle.e {
  cursor: e-resize;
}
.moviemasher .editor .panel.player .content svg .handle.w {
  cursor: w-resize;
}

.moviemasher .editor .panel.player .content svg .shape {
  stroke: transparent;
  stroke-width: calc(2 * var(--border-size));
}
.moviemasher .editor .panel.player .content svg .shape:hover {
  stroke: var(--color-fore-secondary);
}

.moviemasher .editor .panel.player .content svg .shape.marker {
  marker-mid: url(#shape-marker);
  stroke: var(--color-fore-secondary);
}


.moviemasher .editor .panel.player .dropping {
  box-shadow:
    0 var(--drop-size) 0 0 var(--color-drop),
    0 calc(-1 * var(--drop-size)) 0 0 var(--color-drop)
  ;
}

