

.moviemasher .caster .panel.roll .head {
  grid-auto-flow: column;
  grid-auto-columns: min-content;
}

.moviemasher .caster .panel.roll-a {
  grid-area: roll-a;
}
.moviemasher .caster .panel.roll-b {
  grid-area: roll-b;
}
