/* .moviemasher .caster .chat {
  grid-area: chat;
} */

.moviemasher .chat .head {
  grid-template-columns: 1fr repeat(3, min-content);
  white-space: nowrap;
}

.moviemasher .chat .foot {
  grid-template-columns: min-content 1fr;
  white-space: nowrap;
}
