/* colors.css */
.moviemasher {
  --back-primary: hsl(0, 0%, 100%);
  --back-secondary: hsl(0, 0%, 90%);
  --back-tertiary: hsl(0, 0%, 85%);
  --fore-primary: #545454;
  --fore-secondary: #2c2c2c;
  --fore-tertiary: #1d1d1d;
  --color-primary: #366db8;
  --color-secondary: #29528b;
  --color-tertiary: #1e3c66;
}

@media (prefers-color-scheme: dark) {
  .moviemasher {
    --back-primary: hsl(0, 0%, 5%);
    --back-secondary: hsl(0, 0%, 10%);
    --back-tertiary: hsl(0, 0%, 15%);
    --fore-primary: #ababab;
    --fore-secondary: #cfcfcf;
    --fore-tertiary: #e9e9e9;
    --color-primary: #476780;
    --color-secondary: #758caa;
    --color-tertiary: #a2c3ee;
  }
}
