.moviemasher .editor .panel.player {
  grid-area: player;
}

.moviemasher .editor .panel.player .head {
  grid-auto-flow: column;
  grid-template-columns: 1fr repeat(2, min-content);
}

.moviemasher .editor .panel.player .foot .time {
  font-size: 0.75em;
  text-align: right;
  flex-grow: 1;
}

.moviemasher .editor .panel.player .content {
  width: var(--preview-width);
  height: var(--preview-height);
  margin-inline: auto;
  color: var(--color-fore-tertiary);
}


.moviemasher .editor .panel.player .dropping {
  box-shadow:
    0 var(--drop-size) 0 0 var(--color-drop),
    0 calc(-1 * var(--drop-size)) 0 0 var(--color-drop)
  ;
}
.moviemasher .editor .panel.player .content svg .outline {
  cursor: move;
  pointer-events: fill;
  stroke-width: 0;
}

.moviemasher .editor .panel.player .content svg .outline.animate:hover {
  stroke-width: calc(2 * var(--border-size));
  stroke-dasharray: 4px;
  stroke-dashoffset: 8px;
  stroke: white;
  animation: 
    stroke 1s linear infinite forwards,
    color 1s linear 0.5s infinite alternate;
}

@keyframes color { to {  stroke: black } }
@keyframes stroke { to { stroke-dashoffset: 0; } }

.moviemasher .editor .panel.player .content svg .handle.bounds.ne {
  cursor: ne-resize;
}
.moviemasher .editor .panel.player .content svg .handle.bounds.se {
  cursor: se-resize;
}
.moviemasher .editor .panel.player .content svg .handle.bounds.nw {
  cursor: nw-resize;
}
.moviemasher .editor .panel.player .content svg .handle.bounds.sw {
  cursor: sw-resize;
}
.moviemasher .editor .panel.player .content svg .handle.bounds.n {
  cursor: n-resize;
}
.moviemasher .editor .panel.player .content svg .handle.bounds.s {
  cursor: s-resize;
}
.moviemasher .editor .panel.player .content svg .handle.bounds.e {
  cursor: e-resize;
}
.moviemasher .editor .panel.player .content svg .handle.bounds.w {
  cursor: w-resize;
}

.moviemasher .editor .panel.player .content svg .bounds {
  fill: white;
}

.moviemasher .editor .panel.player .content svg .bounds.active {
  pointer-events: fill;
  fill: transparent;
}

@supports (-moz-appearance:none) {
  .moviemasher .player.panel .content svg .filtered {
    filter: none;
  }
  .moviemasher .player.panel .content svg use.mozilla  {
    stroke-width: var(--border-size);
    stroke: black;
    fill: white;
  }
}

@supports not (-moz-appearance:none) {
  .moviemasher .player.panel .content svg use.mozilla {
    display: none;
  }
}

