.moviemasher .editor .timeline .track-icon {
  background-color: var(--back-secondary);
  color: var(--fore-secondary);
  display: grid;
}

.moviemasher .editor .timeline {
  isolation: isolate;
  grid-area: timeline;
}

.moviemasher .editor .timeline .head {
  grid-template-columns: repeat(7, auto) 1fr min-content;
}

.moviemasher .editor .timeline .content {
  position: relative;
  overflow: auto;
  display: grid;
  grid-template-areas: "scrubber-icon scrubber" "tracks-icon tracks";
  grid-template-columns: var(--track-width) 1fr;
  grid-template-rows: var(--scrubber-height) 1fr;
}

.moviemasher .editor .timeline .scrub-pad,
.moviemasher .editor .timeline .scrub {
  background-color: var(--back-secondary);
  border-bottom: var(--border);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.moviemasher .editor .timeline .scrub-pad {
  grid-area: scrubber-icon;
  z-index: 2;
}

.moviemasher .editor .timeline .scrub {
  grid-area: scrubber;
  z-index: 3;
}

.moviemasher .editor .timeline .scrub-bar-container {
  pointer-events: none;
  position: relative;
  grid-area: tracks;
  z-index: 4;
}

.moviemasher .editor .timeline .scrub-bar {
  width: 1px;
  top: 0px;
  bottom: 0px;
}

.moviemasher .editor .timeline .scrub-icon {
  margin-left: calc(0px - (var(--scrubber-height) / 2));
  width: var(--scrubber-height);
  height: var(--scrubber-height);
  clip-path: polygon(3px 3px, calc(100% - 3px) 3px, 50% calc(100% - 3px));
}
.moviemasher .editor .timeline .scrub-bar,
.moviemasher .editor .timeline .scrub-icon {
  position: absolute;
  background-color: var(--color-fore-secondary);
}


.moviemasher .editor .timeline .tracks {
  grid-area: tracks;
  grid-column-start: tracks-icon;
}

.moviemasher .editor .timeline .foot {
  grid-template-columns: 50% repeat(auto-fill, var(--button-size));
}

.moviemasher .editor .timeline-sizer {
  pointer-events: none;
  position: absolute;
  left: var(--track-width);
  right: 0px;
  top: var(--scrubber-height);
  bottom: 0px;
}


.moviemasher .editor .timeline .track {
  display: grid;
  grid-template-columns: var(--track-width) 1fr;
  border-bottom: var(--border);
  height: var(--track-height);
  overflow-y: hidden;
}

.moviemasher .editor .timeline .track-icon {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.moviemasher .editor .timeline .track-icon svg {
  margin: auto;
}

.moviemasher .editor .timeline .clips {
  white-space: nowrap;
  margin-block: auto;
}

.moviemasher .editor .timeline .clips,
.moviemasher .editor .timeline .clip {
  height: calc(var(--track-height) - (2 * var(--padding)));
}

.moviemasher .editor .timeline .clips .clip {
  border: var(--border);
  border-radius: var(--border-radius);
  overflow-x: hidden;
  background-size: cover;
  background-image: var(--clip-icon);
  padding: 0px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;

  border-color: var(--fore-secondary);
  color: var(--fore-secondary);
  background-color: var(--back-secondary);
}

.moviemasher .editor .timeline .clips .clip:hover,
.moviemasher .editor .timeline .clips .selected {
  color: var(--color-fore-secondary);
  border-color: var(--color-fore-secondary);
  background-color: var(--color-back-secondary);
}

.moviemasher .editor .timeline .clips .selected:hover {
  color: var(--color-fore-tertiary);
  border-color: var(--color-fore-tertiary);
  background-color: var(--color-back-tertiary);
}

.moviemasher .editor .timeline .clip label {
  display: inline-block;
  width: 100%;
  background-color: var(--back-primary);
  opacity: 0.75;
  height: calc(var(--icon-size) + var(--spacing));
}

.moviemasher .editor .timeline .clip label:after {
  content: var(--clip-label);
  padding: var(--spacing);
  display: inline-block;
}


.moviemasher .editor .timeline .drop {
  background-color: var(--color-back-secondary);
}
