


.moviemasher .editor .panel.webrtc .content {
  overflow-y: auto;
  padding: var(--padding);
  width: calc(var(--inspector-width) - (2 * var(--border-size)));
  height: calc(var(--preview-aspect-ratio) / var(--inspector-width))
}


.moviemasher .editor .panel.webrtc video.content {
  padding: 0px;
}

.moviemasher .editor .panel.webrtc {
  flex-grow: 0;
  flex-shrink: 0;
  grid-area: webrtc;
}

.moviemasher .editor .panel.webrtc.collapsed {
  height: var(--header-height);
}

/* .moviemasher .editor .panel.webrtc.collapsed .content {
  aspect-ratio: initial;
} */

.moviemasher .editor .panel.webrtc .head {
  grid-template-columns: var(--icon-size) 1fr var(--icon-size);
}

.moviemasher .editor .panel.webrtc .head label {
  font-size: 0.5em;
}

.moviemasher .editor .panel.webrtc .foot .selected {
  color: var(--color-fore-secondary);
}

.moviemasher .editor .panel.webrtc .content .selected {
  color: var(--color-fore-secondary);
}

.moviemasher .editor .panel.webrtc .content .item {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-auto-flow: column;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
}

.moviemasher .editor .panel.webrtc .content .item label,
.moviemasher .editor .panel.webrtc .head label  {
  overflow-x: hidden;
  white-space: nowrap;
}
